
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#game-container {
  flex: 1;
  background: #EEE;
  position: relative;
  overflow: hidden;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}

#sidebar {
  width: 300px;
  background: #333;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  font-size: 1.5em;
  line-height: 1.1;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  border: 1px solid transparent;
  border-radius: 8px;
}

button:hover {
  border-color: #646cff;
}

input[type=range] {
    width: 100%;
}
